// Variables go here

//cores

//action btn
$action-bg: #44BAFF;
$action-text: #200057;

//login btn
$login-bg: #FFD400;
$login-text: #113446;
$login-size: 20px;

//lang btn
$lng-btn: #064199;

//colors
$blue: #38DBFF;

//section conq.
$yellow: #FFD400;

$bg-conq: #021633;
$yellow-gray: #FFDA44;

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}